.top{
    margin-bottom: 15px;
}

.centered {
    text-align: center;
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    margin-left: 10px;
    text-align: center;
    background: #dedede;
    color: black;
    height: 20px;
    width: 60px;
    margin-top: 7px;
    margin-bottom: 7px;
    display: inline-block;
}

input[type="checkbox"]:checked+label {
    text-align: center;
    background: green;
    color: white;
    height: 20px;
    width: 100px;
    margin-top: 7px;
    margin-bottom: 7px;
    display: inline-block;
}

.card{
    border-radius: 25px;
}
.card:hover {
    transform: scale(1.2);
    z-index: 10;
}

.bottom {
    margin-top: 20px;
}

@media (max-width: 600px) {
    .column {
        float: left;
        width: 33.3%;
        padding: 5px;
    }

    .right-div {
        font-family: FGO;
        font-size: xx-large;
        float: top;
        vertical-align: top;
        text-align: center;
        width: 100%;
    }
}