@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/GeorgePaulino/FateGrandOrderCards" target="_blank">Github</a>
            <a href="https://www.instagram.com/george_psf/" target="_blank">Instagram</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
